body {
    background: url("waves.svg");
    font-family: 'Inter', sans-serif;
    color: white;
    padding: 1em;
    margin-top: 5rem;
    text-align: center;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
}

::selection {
    background-color: var(--color-primary);
    color: var(--color-bg)
}

html {
    font-optical-sizing: auto;
    padding: 0;
    margin: 0;
    font-weight: 400;
    font-smooth: always;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;
    max-width: 100vw;
    overflow: hidden;
    --color-primary: #FA7268;
    --color-complementary: #C62368;
    --color-bg: #001220;
    --color-bg-dim: #0d2436;
    --color-border: #374550;
}

div.split-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 35%;
    align-items: center;
}

div.split-container.tres {
    grid-template-columns: 1fr 6px 1fr;
}

div.app-title-container {
    margin-top: 5rem;
}

a {
    color: white;
    text-decoration: none;
}

div.page {
    transition: all 1s ease;
    transform: none;
    width: 100vw;
    height: 100vh;
}

div.page.pageanim-before {
    transform: translate(100wv);
    opacity: 0%;
    transition: all 1s ease;
    background-color: red;
}

div.page.pageanim-end {
    transform: translateX(-100vw);
}

a.navbar {
    font-weight: 600;
    font-size: 4rem;
}

svg.navbar {
    width: 6rem;
}

svg.navbar.startanim-end {
    width: 3.4rem;
}

a.navbar.startanim-end {
    font-size: 2rem;
}

svg {
    vertical-align: middle;
    margin-top: -2rem;
    margin-right: 0.7rem;
}

svg.navbar.startanim-end {
    margin-top: -0.7rem;
}

div.logobar {
    position: absolute;
    z-index: 99;
    left: 50%;
    top: 50%;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-wrap: nowrap;
}

div.logobar.startanim-end {
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    transform: translateY(0%);
    top: 2rem;
    left: 2rem;
}

div.logobar#alternative {
    overflow: hidden;
}

.gradient-underline {
    position: relative;

    &::after {
        content: '';
        fill: #fff;
        color: #fff;
        position: absolute;
        bottom: -2rem;
        left: -0.5rem;
        width: 100%;
        right: -0.5rem;
        height: 2rem;
        background-image: url('/underline.svg');
        background-repeat: no-repeat;
        background-size: cover;
    }
}

h3 {
    margin-top: 3rem;
    font-weight: 400;
}

a.logobar#alternative {
    transition: all 0.3s ease;
}

.startanim {
    transition: all 1s ease;
}

div.blur-cover {
    position: absolute;
    left: 0%;
    top: 0%;
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    backdrop-filter: blur(1rem);
    background-color: rgba(0, 0, 0, 0.3);
}

div.blur-cover.startanim-end {
    /* backdrop-filter: blur(0px); */
    opacity: 0%;
}

span.gradient-text {
    background: -webkit-linear-gradient(-45deg, var(--color-primary), var(--color-complementary));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

span.gradient-text::selection {
    -webkit-text-fill-color: initial;
    color: var(--color-bg);
    background: var(--color-complementary);
}

select {
    background-color: var(--color-bg-dim);
    color: #ccc;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    padding: 1rem 2rem 1rem 2rem;
    border-radius: 1rem;
    border: 1px solid var(--color-border);
}

select::selection {
    border-radius: 1rem 1rem 0 0;
}

.block {
    display: block;
}

.button {
    padding: 1rem 2rem 1rem 2rem;
    font-family: 'Inter', sans-serif;
    background-color: var(--color-bg-dim);
    font-size: 1rem;
    border-radius: 1rem;
    border: 1px solid var(--color-border);
    vertical-align: middle;
}

option:hover {
    background-color: #555;
}

textarea {
    background-color: var(--color-bg-dim);
    border-radius: 1rem;
    border: 1px solid var(--color-border);
    color: white;
}

textarea::placeholder {
    color: #999;
}

input {
    font-size: 1rem;
    font-family: 'Inter', sans-serif;
    padding: 1rem 2rem 1rem 2rem;
    background-color: var(--color-bg-dim);
    border-radius: 1rem;
    border: 1px solid var(--color-border);
    color: white;
}

input::placeholder {
    color: #999;
}

input.prompt-box {
    width: 70%;
}

@media (max-width:428px) {
    div.logobar.startanim-end {
        left: 50%;
        transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
    }

    html {
        font-size: 8pt;
    }

    div.split-container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        height: 70%;
    }
}